<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            <title>
                {% block title %}{{ entry.seoTitle ?? skimpy.site.title }}{% endblock title %}
            </title>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="{{ skimpy.site.author }}">

            {% block metaDescription %}
            {% endblock metaDescription %}

            <script>
                function toggleTheme() {
                    const html = document.documentElement;
                    const isDark = html.classList.toggle('dark');
                    try {
                        localStorage.setItem('darkMode', isDark);
                    } catch (e) {
                        // do nothing
                    }
                }

                function initTheme() {
                    try {
                        const isDark = localStorage.getItem('darkMode') === 'true';
                        if (isDark) {
                            document.documentElement.classList.add('dark');
                        }
                    } catch (e) {
                        // do nothing
                    }
                }

                initTheme();
            </script>


            <link rel="stylesheet" href="/css/output.css">

            {% block styles %}
            {% endblock styles %}
        {% endblock head %}
    </head>
    <body class="wrap">
        <div>
            <header id="site-header">
                <div id="header-photo">
                    <img src="/img/justin-icon.jpg" alt="Justin Tallant" />
                </div>
                <nav aria-label="Main Navigation">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
                <div onclick="toggleTheme()">
                    <div id="sun">{% include 'svg/sun.twig' %}</div>
                    <div id="moon" style="display: none;">{% include 'svg/moon.twig' %}</div>
                </div>
            </header>

            <main>
                {% block content %}
                {% endblock content %}
            </main>

            <footer id="site-footer">
                <nav aria-label="Footer navigation">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
                <div>Copyright &copy; {{ "now"|date("Y") }} Justin Tallant. All rights reserved</div>
            </footer>

            {% block scripts %}

            {% endblock scripts %}
        </div>
    </body>
</html>