<!DOCTYPE html>
<html lang="en" x-data="{ darkMode: false }" :class="{ 'dark': darkMode }">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            <title>
                {% block title %}{{ entry.seoTitle ?? skimpy.site.title }}{% endblock title %}
            </title>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="{{ skimpy.site.author }}">

            {% block metaDescription %}
            {% endblock metaDescription %}


            <link rel="stylesheet" href="/css/output.css">

            {% block styles %}
            {% endblock styles %}

            <script src="//unpkg.com/alpinejs" defer></script>
        {% endblock head %}
    </head>
    <body class="wrap">
        <div>
            <header id="site-header">
                <div id="header-photo">
                    <img src="/img/justin-icon.jpg" alt="Justin Tallant" />
                </div>
                <nav id="nav" aria-label="Main Navigation">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
                <div @click="darkMode = !darkMode">
                    <div id="sun" x-show="!darkMode">{% include 'svg/sun.twig' %}</div>
                    <div id="moon" x-show="darkMode">{% include 'svg/moon.twig' %}</div>
                </div>
            </header>

            <main>
                {% block content %}
                {% endblock content %}
            </main>

            <footer id="site-footer">
                <nav aria-label="Footer navigation">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
                <div>Copyright &copy; {{ "now"|date("Y") }} Justin Tallant. All rights reserved</div>
            </footer>

            {% block scripts %}
            {% endblock scripts %}
        </div>
    </body>
</html>