<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            <title>
                {% block title %}{{ entry.seoTitle ?? skimpy.site.title }}{% endblock title %}
            </title>

            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="{{ skimpy.site.author }}">

            {% block metaDescription %}
            {% endblock metaDescription %}

            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/site.webmanifest">

            <link rel="stylesheet" href="/css/output.css?v=1">
            <script src="/js/prism.js" defer></script>

            {% block styles %}
            {% endblock styles %}
        {% endblock head %}
    </head>
    <body class="wrap">
        <header id="site-header">
            <div id="header-photo">
                <a href="/" title="Home"><img src="/img/author.jpg" alt="Justin Tallant" /></a>
            </div>
            <nav aria-label="Main Navigation">
                <a href="/">Home</a>
                <a href="/pages/about">About</a>
            </nav>
            <div id="theme-toggle">
                <div id="sun">{% include 'svg/sun.twig' %}</div>
                <div id="moon" style="display: none;">{% include 'svg/moon.twig' %}</div>
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer id="site-footer">
            <nav aria-label="Footer navigation">
                <a href="/">Home</a>
                <a href="/pages/about">About</a>
            </nav>
            <div>Copyright &copy; {{ "now"|date("Y") }} Justin Tallant. All rights reserved</div>
        </footer>
        {% block scripts %}
            <script>
                (function(document, localStorage) {
                    try {
                        const isDark = localStorage.getItem('darkMode') === 'true';
                        if (isDark) {
                            document.documentElement.classList.add('dark');
                        }
                    } catch (e) {
                        // do nothing
                    }
                })(document, localStorage);


                document.getElementById('theme-toggle').addEventListener('click', () => {
                    const html = document.documentElement;
                    const isDark = html.classList.toggle('dark');
                    try {
                        localStorage.setItem('darkMode', isDark);
                    } catch (e) {
                        // do nothing
                    }
                });

                document.querySelectorAll('#site-header nav a').forEach(link => {
                    if (link.href === window.location.href) {
                        link.classList.add('active');
                    }
                });
            </script>
        {% endblock scripts %}

        {% if app.environment('production') %}
            <!-- 100% privacy-first analytics | SimpleAnalytics-->
            <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
            <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
        {% endif %}
    </body>
</html>