html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=submit] {
  border: 0;
}

/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism-solarizedlight&languages=markup+css+clike+javascript+docker+git+http+json+markup-templating+nginx+php+php-extras+sql+swift+twig+typescript+yaml */

/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*=language-],
pre[class*=language-] {
  color: #657b83;
  /* base00 */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  background: #073642;
  /* base02 */
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  background: #073642;
  /* base02 */
}

pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  background: #073642;
  /* base02 */
}

/* Code blocks */

pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #fdf6e3;
  /* base3 */
}

/* Inline code */

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
  /* base1 */
}

.token.punctuation {
  color: #586e75;
  /* base01 */
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2;
  /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198;
  /* cyan */
}

.token.entity {
  color: #657b83;
  /* base00 */
  background: #eee8d5;
  /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #859900;
  /* green */
}

.token.function,
.token.class-name {
  color: #b58900;
  /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16;
  /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

html {
  background: #fff;
  color: #333;
  padding-top: 30px;
  padding-bottom: 120px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
}

body {
  max-width: 600px;
  padding: 0 30px;
  margin: 0 auto;
  line-height: 100%;
  font-size: 16px;
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h5,
h6,
ul,
ol,
img,
p {
  margin-bottom: 20px;
}

p {
  line-height: 150%;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  color: #3BBAFF;
  line-height: 100%;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 34px;
  margin-top: 60px;
}

h4 {
  font-size: 28px;
}

a {
  color: #3BBAFF;
  text-decoration: none;
}

a:hover {
  color: #177CB3;
}

b {
  font-weight: 700;
}

ol,
ul {
  padding-left: 20px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  line-height: 150%;
}

input {
  padding: 8px;
}

img,
embed,
iframe {
  max-width: 100%;
}

code,
pre {
  background: #EFEFEF;
  padding: 2px 5px;
  color: #333;
  line-height: 150%;
}

pre {
  overflow-x: scroll;
}

hr {
  border: 1px solid #DDD;
}

table {
  margin-top: 50px;
  margin-bottom: 30px;
}

table caption {
  color: #3BBAFF;
  font-size: 24px;
  margin-bottom: 20px;
}

table td,
table th {
  border: 1px solid #000;
  padding: 8px;
  line-height: 140%;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #BBB;
}

.mb-0 {
  margin-bottom: 0;
}

.hide {
  display: none !important;
}

.btn {
  background: #3BBAFF;
  color: #fff;
  margin-bottom: 20px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.btn:hover {
  background: #B36705;
  color: #fff;
}

.btn-md {
  font-size: 22px;
  padding: 10px 12px;
}

#site-header {
  text-align: center;
  margin-bottom: 40px;
}

#site-title {
  font-size: 52px;
  margin-bottom: 0;
}

#site-title a {
  color: #3BBAFF;
}

#site-title a:hover {
  color: #3BBAFF;
}

#site-image {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 0;
}

#site-tagline {
  font-size: 32px;
}

.article-list h1 {
  line-height: 120%;
  font-size: 32px;
}

