<div class="comments">
    <div class="comments-header">
        <h4>Comments</h4>
        <a href="javascript:void(0)">{% include 'svg/plus.twig' %}</a>
    </div>

    <div class="new-comment">
        {% include 'svg/comment.twig' %}
        <a href="javascript:void(0)">New Comment</a>
    </div>

    <form class="comment-form" style="display: none;">
        <div class="form-group">
            <label for="author">Name</label>
            <input type="text" name="comment_author" required>
            <input type="hidden" name="entry_uri" value="{{ entry.uri }}">
        </div>
        <div class="form-group">
            <label for="content">Comment</label>
            <textarea name="content" rows="4" required></textarea>
        </div>
        <div class="char-count">
            <span>2400</span> characters remaining
        </div>
        <input type="hidden" name="parent_id" value="">
        <button type="submit">Submit Comment</button>
    </form>

    <div class="comments-list">
        {% for comment in comments(entry.uri) %}
            <div class="comment" data-comment-id="{{ comment.id }}">
                <div class="comment-author">
                    {% if comment.is_author %}
                        <img class="author-img" src="/img/justin-icon.jpg" alt="Justin Tallant" />
                    {% else %}
                        <div class="author-img"></div>
                    {% endif %}
                    <span class="author-name">{{ comment.author }}</span>
                </div>
                <div class="comment-content">
                    <p>
                        {{ comment.content|striptags('<br>')|raw }}
                    </p>
                </div>
                <button class="reply-button">Reply</button>
                <div class="replies"></div>
            </div> <!-- .comment -->
        {% endfor %}
    </div>

    <div id="comment-template" style="display: none;">
        <div class="comment">
            <div class="comment-author">
                <img class="author-img author-author-img" src="/img/justin-icon.jpg" alt="Justin Tallant" style="display: none;" />
                <div class="author-img author-non-author-img"></div>
                <span class="author-name"></span>
            </div>
            <div class="comment-content">
                <p></p>
            </div>
            <button class="reply-button">Reply</button>
            <div class="replies"></div>
        </div> <!-- .comment -->
    </div> <!-- .comment -->
</div> <!-- .comments -->

<script src="/js/comments.js"></script>