<div id="verify-email">
    <h4>Verify Your E-Mail</h4>
    <p>Please verify your e-mail address to comment.</p>
    <form id="verify-email-form">
        <input type="email" id="email" name="email" placeholder="you@example.com" required>
        <button type="submit">Verify</button>
    </form>
</div> <!-- #verify-email -->