<div id="verify-email">
    <h4>Verify Your E-Mail</h4>
    <p>Please verify your e-mail address to comment.</p>
    <form id="verify-email-form">
        <input type="email" id="email" name="email" placeholder="you@example.com" required>
        <p class="info">This name will show up as your username in comments.</p>
        <input type="text" id="name" name="name" placeholder="Your Name" required>
        <input type="hidden" name="entry_uri" value="{{ entry.uri }}">
        <button type="submit">Verify</button>
        <p class="success" style="display: none;">Link sent! Please check your E-Mail.</p>
        <p class="error" style="display: none;">Sorry :( something went wrong.</p>
    </form>
</div> <!-- #verify-email -->