@mixin author-img-colors {
    &:nth-child(10n+1) .author-img {
        background: lighten(blue, 20%);
    }

    &:nth-child(10n+2) .author-img {
        background: lighten(green, 20%);
    }

    &:nth-child(10n+3) .author-img {
        background: lighten(red, 20%);
    }

    &:nth-child(10n+4) .author-img {
        background: darken(yellow, 5%);
    }

    &:nth-child(10n+5) .author-img {
        background: lighten(purple, 20%);
    }

    &:nth-child(10n+6) .author-img {
        background: lighten(orange, 20%);
    }

    &:nth-child(10n+7) .author-img {
        background: lighten(pink, 20%);
    }

    &:nth-child(10n+8) .author-img {
        background: lighten(teal, 20%);
    }

    &:nth-child(10n+9) .author-img {
        background: lighten(brown, 20%);
    }

    &:nth-child(10n+10) .author-img {
        background: lighten(gray, 20%);
    }
}

.comments {
    margin: 60px auto 0;
    font-size: 15px;
    max-width: 680px;

    .comments-header {
        display: flex;
        gap: 20px;
        align-items: center;

        h4 {
            font-size: 18px;
            line-height: 1;
            margin: 0;
            padding: 0;
        }
    }

    .new-comment {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        svg {
            width: 24px;
            height: 24px;
        }

        a {
            color: lighten(black, 25%);
        }
    }

    .comments-list {
        margin-top: 40px;
    }

    .comment {
        padding-top: 15px;
        padding-bottom: 25px;
        position: relative;

        time {
            display: block;
            font-size: 14px;
            color: lighten(black, 40%);
            margin-top: 15px;
        }

        @include author-img-colors;

        .comment-author {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            color: lighten(black, 10%);
        }

        .author-img {
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }

        .comment-content {
            color: lighten(black, 60%);
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 1.75;
        }

        .reply-button {
            svg {
                width: 18px;
                height: 18px;
                fill: lighten(black, 30%);
            }
        }

        .reply-button:hover {
            svg {
                fill: lighten(black, 65%);
            }
        }

        .replies .comment:first-child {
            padding-top: 40px;
        }

        .replies .comment:last-child {
            padding-bottom: 10px;
        }

        .comment {
            margin-left: 35px;

            @include author-img-colors;
        }
    }
}

.comments form {
    margin-top: 30px;
    margin-bottom: 60px;

    label {
        margin-top: 25px;
        display: block;
    }

    input {
        width: 200px;
    }

    textarea {
        width: 100%;
    }

    input, textarea {
        margin-top: 10px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid lighten(black, 70%);
        background: white;

        &:active, &:focus, &:focus-visible {
            border: 1px solid lighten(black, 30%);
            outline: none;
        }
    }

    .char-count {
        margin-top: 7px;
        color: lighten(black, 40%);
        font-size: 12px;
    }

    button {
        margin-top: 25px;
        background: transparent;
        border-radius: 5px;
        padding: 10px 20px;
        border: 1px solid lighten(black, 70%);
        color: lighten(black, 40%);

        &:hover {
            background: lighten(black, 20%);
            color: darken(white, 15%);
        }
    }
}