$faded: lighten(black, 30%);
$teal: #dc6616;

html,
p,
#entry {
    color: darken(white, 40%);
}

body {
    color: $grey;
    background: lighten(black, 10%);
    border-left: 1px solid #313131;
    border-right: 1px solid #313131;
}

a {
    color: $teal;
}

input,
textarea,
.article header a,
nav a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: darken(white, 10%);
}

footer nav a {
    &:hover {
        color: $teal;
    }
}

#site-header {
    svg {
        stroke: $teal;

        &:hover {
            transition: stroke 0.3s ease;
            stroke: darken($teal, 15%);
        }
    }

    nav {
        border: 1px solid black;
        background: lighten(black, 10%);

        a:hover {
            color: $teal;
        }

        a.active {
            color: $teal;
        }
    }
}

#site-footer {
    color: $faded;
    border-top: 1px solid black;
}

.work-section {
    border: 1px solid black;

    svg {
        stroke: black;
        fill: $faded;
    }
}

.company-img-wrapper {
    border: 1px solid black;
}

time,
.company-role,
.company-dates {
    color: $faded;
}

.pipe {
    color: $faded;
}

.article a {
    color: $teal;

    &:hover {
        color: darken($teal, 10%);
    }
}

.socials {
    svg {
        fill: #6f6f6f;

        &:hover {
            fill: $teal;
        }
    }
}

#entry {
    h2,
    h4,
    h5,
    h6 {
        color: darken(white, 25%);
    }
}

