@import "normalize.scss";


$bgHtml: #EEE;
$bgBody: #FFF;
$textPrimary: #646464;
$textSecondary: #000;
$teal: #57cccc;
$lightGrey: #b2b2b2;

$darkBgHtml: #000;
$darkBgBody: #333;
$darkTextPrimary: #fff;
$darkTextSecondary: #ddd;

a {
    text-decoration: none;
    color: inherit;
}

html {
    background: $bgHtml;
    color: $textPrimary;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

body {
    background: $bgBody;
    padding: 24px 30px 80px;
    min-height: 100vh;
}

.wrap {
    max-width: 1216px;
    margin: 0 auto;
    box-sizing: border-box;
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #header-photo {
        width: 36px;
        height: 36px;
        margin-left: 0;
    }

    #header-photo img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    #nav {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 260px;
        background: #fff;
        padding: 5px 5px;
        box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(40px);
        border: 1px solid #EEE;
        border-radius: 20px;
        font-weight: 500;

        a {
            text-decoration: none;
            color: inherit;
            padding: 5px 5px;
            transition: color 0.3s ease;
        }

        a:hover {
            color: $teal;
        }
    }

    svg {
        cursor: pointer;
        width: 36px;
        height: 36px;
        margin-right: 0;
        stroke: #57cccc;

        &:hover {
            stroke: #3a8888; // Darker teal color
            transition: stroke 0.3s ease;
        }
    }
}

main {
    margin-top: 60px;
}

#home {
    .justin-photo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    #bio {
        h1 {
            margin-top: 15px;
            max-width: 675px;
            font-size: 34px;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 1.25;
            color: $textSecondary;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            max-width: 675px;
            line-height: 1.75;
            margin-bottom: 0;
        }
    }


    #home-photos {
        display: flex;
        gap: 30px;
        margin-top: 60px;

        img {
            width: 50%;
            margin-left: -10px;
            max-width: none;
            border-radius: 40px;
            margin-bottom: 0;
            transform: rotate(-1deg);
        }

        img:nth-child(even) {
            transform: rotate(1deg);
        }

        img:last-child {
            display: none;
        }
    }

    .work-section {
        h2 {
            display: flex;
            gap: 10px;
            margin-bottom: 30px;
            color: $textSecondary;

            svg, span {
                display: block;
            }

            svg {
                width: 24px;
            }
        }

        border-radius: 20px;
        padding: 10px 20px 0;
        border: 1px solid #EEE;

        svg {
            stroke: rgb(193, 193, 193);
            fill: #EEE;
        }

        .company-img-wrapper {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 1px solid #EEE;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img,
        .company-img-placeholder {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #db97d1;
        }

        .work-list-item {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 25px;

            .company-name {
                font-weight: 600;
                margin-bottom: 3px;
            }

            .company-info {
                flex-grow: 1;
            }

            .company-role,
            .company-dates {
                color: rgb(153, 153, 161);
            }
        }
    }
}

.socials {
    a {
        margin-top: 24px;
        display: inline-block;
        margin-left: 24px;

        &:first-child {
            margin-left: 0;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: #6f6f6f;
        transition: fill 0.3s ease;

        &:hover {
            fill: black;
        }
    }
}

.sidebar {
    margin-top: 60px;
}

.article {
    max-width: 600px;
    margin-top: 80px;
    font-size: 16px;

    .time {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    time {
        color: $lightGrey;
        display: block;
        margin-bottom: 15px;
    }

    h1 {
        margin-top: 10px;
        font-size: 16px;

        a {
            color: $textSecondary;
        }
    }

    .excerpt {
        line-height: 1.75;
    }

    a {
        color: $teal;

        &:hover {
            color: darken($teal, 10%);
        }
    }
}

.pipe {
    margin-right: 10px;
    font-weight: 700;
    color: #EEE;
}

@mixin dark-mode {
    body {
        background: $darkBgBody;
        color: $darkTextPrimary;
    }

    #site-header {
        svg {
            stroke: #616161;
        }
    }
}

html.dark {
    @include dark-mode;
}

@media (min-width: 780px) {
    body {
        padding-left: 90px;
        padding-right: 90px;
    }

    #home {
        #bio h1 {
            font-size: 46px;
        }
    }
}

@media (min-width: 1040px) {

    #home-bottom {
        display: flex;
        flex-wrap: wrap;
    }

    #home-bottom .articles {
        flex: 2 1 60%;
        box-sizing: border-box;
        padding-right: 40px;
    }

    #home-bottom .sidebar {
        flex: 1 1 40%;
    }

    #home-bottom .work-section {
        .work-list-item {
            gap: 15px;
        }

        .company-info {
            font-size: 12px;
        }

        .company-dates {
            font-size: 12px;
        }
    }
}

@media (min-width: 1400px) {

    #home {
        #home-photos {
            margin-top: 60px;
            max-width: 100vw;
            display: flex;
            justify-content: center;
            gap: 30px;
            box-sizing: border-box;

            img {
                max-width: 450px;
                max-height: 290px;
                width: 100%;
            }

            img:last-child {
                display: block;
            }
        }
    }
}