@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    margin-top: 60px;
}

.article {
    max-width: 600px;
    margin: 60px auto 0;
    font-size: 14px;

    h1 {
        margin-top: 10px;
        font-size: 16px;
    }
}

.pipe {
    margin-right: 10px;
    font-weight: 700;
    color: #EEE;
}

@media (min-width: 960px) {
    #home-bottom {
        display: flex;
        flex-wrap: wrap;
    }

    #home-bottom .articles {
        flex: 2 1 66%;
        padding-right: 60px;
    }

    #home-bottom .sidebar {
        flex: 1 1 33%;
    }
}
