#home-photos {
    margin-top: 60px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;

    img {
        max-width: 450px;
        max-height: 290px;
        width: 100%;
    }

    img:last-child {
        display: block;
    }
}