html {
    background: darken(white, 3%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

body {
    background: white;
    padding: 24px 30px 60px;
    min-height: 100vh;
}

main {
    margin-top: 60px;
}

a {
    text-decoration: none;
}

p, ul, ol, li {
    line-height: 150%;
}

li ul, li ol {
    margin-top: 15px;
}

#entry  {
    font-size: 18px;
    margin: 0 auto;
    max-width: 680px;

    h2,h4,h5,h6 {
        letter-spacing: 0.5px;
    }

    p, ul, li, ol {
        line-height: 1.75;
    }

    li, ol {
        margin-bottom: 15px;
    }

}

.wrap {
    max-width: 1216px;
    margin: 0 auto;
    box-sizing: border-box;
}

#site-footer {
    padding-top: 60px;
    margin-top: 80px;
    text-align: center;

    nav {
        justify-content: center;
        display: flex;
        font-size: 16px;
        gap: 40px;
    }

    div {
        margin-top: 40px;
    }
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #header-photo {
        width: 36px;
        height: 36px;
        margin-left: 0;
    }

    #header-photo img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    nav {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 160px;
        padding: 5px 5px;
        box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(40px);
        border-radius: 20px;
        font-weight: 500;

        a {
            text-decoration: none;
            padding: 5px 5px;
            transition: color 0.3s ease;
        }
    }

    svg {
        cursor: pointer;
        width: 36px;
        height: 36px;
        margin-right: 0;
    }
}

.pipe {
    margin-right: 10px;
    font-weight: 700;
}

.comments {
    margin-top: 60px;
    font-size: 15px;

    h4 {
        font-size: 18px;
    }

    .comment {
        margin-top: 30px;

        p {
            margin-top: 10px;
        }
    }

    .comment:nth-child(3n+1) .author-img {
        background: lighten(blue, 20%);
    }

    .comment:nth-child(3n+2) .author-img {
        background: lighten(green, 20%);
    }

    .comment:nth-child(3n+3) .author-img {
        background: lighten(red, 20%);
    }

    .comment-author {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .author-img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .comment .comment {
        margin-left: 30px;
    }
}