body {
    padding-left: 90px;
    padding-right: 90px;
}

#home {
    #bio h1 {
        font-size: 46px;
    }
}

.work-list .work-list-item {
    gap: 20px;
}

code[class*=language-],
pre[class*=language-] {
    font-size: 12px;
}