{% extends 'layouts/master' %}

{% block content %}
    <article id="entry" class="about">
        <div class="parent">
            <div class="child-1">
                <header>
                    <h1>{{ entry.title }}</h1>
                </header>

                {{ entry.content | raw }}
            </div>
            <div class="child-2">
                <img class="light justin" src="/img/justin.jpg" alt="Justin Tallant" />
                <img class="dark justin" src="/img/justin-bw.jpg" alt="Justin Tallant" />

                <div class="social-icons">
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/justintallant" target="_blank" aria-label="LinkedIn">
                            {% include 'svg/linkedin.twig' %}
                            <span style="margin-left: 8px;">Follow on LinkedIn</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://github.com/jtallant" target="_blank" aria-label="GitHub">
                            {% include 'svg/github.twig' %}
                            <span style="margin-left: 8px;">Follow on GitHub</span>
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://x.com/tallantdev" target="_blank" aria-label="Twitter">
                            {% include 'svg/twitter.twig' %}
                            <span style="margin-left: 8px;">Follow on Twitter</span>
                        </a>
                    </div>
                </div>

                <div class="showcase">
                    <h4>The Huckleberry</h4>
                    <a href="https://airbnb.com/h/dustypickle" target="_blank"><img src="/img/cabin-exterior.jpg" alt="Cabin Exterior" loading="lazy" /></a>
                    <a href="https://airbnb.com/h/dustypickle" target="_blank"><img src="/img/cabin-interior.jpg" alt="Cabin Interior" loading="lazy" /></a>
                    <a href="https://airbnb.com/h/dustypickle" target="_blank"><img src="/img/firepit.jpg" alt="Firepit" loading="lazy" /></a>
                    <a href="https://airbnb.com/h/dustypickle" target="_blank"><img src="/img/pickleball-court.jpg" alt="Pickleball Court" loading="lazy" /></a>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}