{% extends 'layouts/master' %}

{% block content %}
    <div id="articles">
        <header>
            <h1>Articles</h1>
        </header>

        <div class="articles">
            {% for entry in entries %}
                {% include 'partials/article' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
