{% extends 'layouts/master' %}

{% block metaDescription %}
    {% if entry.description %}
        <meta name="description" content="{{ entry.description }}">
    {% endif %}
{% endblock %}

{% block content %}
    <article id="entry">
        <header>
            <time pubdate="pubdate"><span class="pipe">|</span>{{ entry.date }}</time>
            <h1>{{ entry.title }}</h1>
        </header>

        {{ entry.content | raw }}

        <footer>
            {% include 'partials/taxonomies' %}
        </footer>
    </article>
{% endblock content %}